<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Leasing Pro - Nowoczesny leasing samochodów{% endblock %}</title>
    
    {# --- POPRAWKA TUTAJ --- #}
    {# Usunięto ukośnik (/) na początku ścieżki. #}
    {# Zamiast href="/css/style.css" jest teraz href="css/style.css" #}
    <link rel="stylesheet" href="css/style.css">

    {% block stylesheets %}{% endblock %}
</head>
<body>
    {# Dołączamy reużywalny nagłówek. Pamiętaj, że w tym pliku też trzeba poprawić linki! #}
    {% include 'partials/shared/_header.twig' %}

    <main>
        {# Dołączamy komponent do powiadomień (np. "Wniosek wysłany!") #}
        {% include 'partials/shared/_alerts.twig' %}
        
        {# Główna treść strony będzie wstrzykiwana tutaj #}
        {% block content %}{% endblock %}
    </main>

    {# Dołączamy reużywalną stopkę #}
    {% include 'partials/shared/_footer.twig' %}

    {# --- I POPRAWKA TUTAJ --- #}
    {# Usunięto ukośnik (/) na początku ścieżki. #}
    {# Zamiast src="/js/main.js" jest teraz src="js/main.js" #}
    <script src="js/main.js"></script>
    
    {% block javascripts %}{% endblock %}
</body>
</html>