<header class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">
        <nav class="navbar-nav w-100 d-flex justify-content-between align-items-center">
            {% set df = dates.from is defined and dates.from ? dates.from : null %}
            {% set dt = dates.to is defined and dates.to ? dates.to : null %}
            {% set offersUrl = '/offers' %}
            {% if df and dt %}
                {% set offersUrl = '/offers?date_from=' ~ df ~ '&date_to=' ~ dt %}
            {% endif %}
            <a class="navbar-brand mb-0 h1 text-white text-decoration-none">Leasing Pro</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link text-white">Home</a>
                </li>
                <li class="nav-item">
                    {% if current_path != '/' %}
                        <a href="/offers" class="nav-link text-white">Offers</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a href="/admin/login" class="nav-link text-white">Admin</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
