{% extends "base.twig" %}

{% block content %}
    <div class="status-message success">
        {# Ikona graficzna dla lepszego efektu wizualnego #}
        <div class="status-icon">
            ✔ {# To jest prosty znak "ptaszka" w HTML #}
        </div>

        <h2>Rezerwacja Potwierdzona!</h2>

        {# Wyświetlamy wiadomość przekazaną z kontrolera #}
        <p>{{ message }}</p>

        <p>Możesz teraz bezpiecznie zamknąć tę stronę.</p>

        <a href="/" class="button-link">Wróć na stronę główną</a>
    </div>
{% endblock %}